In [84]:
import pandas as pd
from pathlib import Path
import matplotlib as plt
from pymongo import MongoClient

In [22]:
read_file = pd.read_csv ("/Users/akulaz/Documents/BootCamp/GitHub Repositories/-Project-2-Aeris/car_noise_specification_datasets.csv")
read_file.to_csv ("/Users/akulaz/Documents/BootCamp/GitHub Repositories/-Project-2-Aeris/car_noise.csv", index=None)

In [42]:
car_noise_file = Path(r"/Users/akulaz/Documents/BootCamp/GitHub Repositories/-Project-2-Aeris/car_noise_new.csv")
car_noise = pd.read_csv(car_noise_file)

In [51]:
car_noise
car_noise_new = car_noise[['brand', "model", "spec", "year", "dB_at_idle", "dB_at_50kmh", "dB_at_80kmh", "dB_at_100kmh", "dB_at_120kmh", "dB_at_140kmh"]]

In [55]:
car_noise_new = car_noise_new.dropna(how="any")
car_noise_new

,brand,model,spec,year,dB_at_idle,dB_at_50kmh,dB_at_80kmh,dB_at_100kmh,dB_at_120kmh,dB_at_140kmh
0,Abarth,500,1.4 16v T-Jet,2008.0,47.3,58.2,67.0,70.2,72.9,76.0
1,Abarth,595,Competizione,2017.0,49.9,65.7,69.0,72.3,73.1,75.8
2,Acura,MDX,3.5 V6,2013.0,41.7,51.7,57.9,61.2,64.0,66.8
3,Acura,RDX,3.5 V6,2012.0,43.0,54.4,61.5,65.5,67.7,69.9
4,Acura,RL,3.7 V6,2009.0,43.6,55.5,63.0,66.9,70.2,73.5
...,...,...,...,...,...,...,...,...,...,...
1889,Volvo,XC90,T8 Twin Engine,2016.0,37.3,50.3,56.6,60.9,65.4,67.8
1890,Volvo,XC90,2.0d,2017.0,47.9,64.7,65.5,66.3,67.2,70.6
1891,Volvo,XC90,T6,2017.0,39.9,55.8,60.0,64.3,65.2,68.6
1892,Volvo,XC90,D4,2018.0,43.9,53.5,59.1,64.3,66.7,68.8
1893,Volvo,XC90,D5,2018.0,47.1,55.6,60.9,65.3,67.7,69.8

In [56]:
car_noise_new.dtypes

brand            object
model            object
spec             object
year            float64
dB_at_idle      float64
dB_at_50kmh     float64
dB_at_80kmh     float64
dB_at_100kmh    float64
dB_at_120kmh    float64
dB_at_140kmh    float64
dtype: object

In [75]:
car_noise_mph = car_noise_new.copy()
car_noise_mph = car_noise_mph.rename(columns = {"dB_at_50kmh": "db_at_31mph", "dB_at_80kmh": "dB_at_50mph", "dB_at_100kmh": "dB_at_62mph","dB_at_120kmh": "dB_at_75mph", "dB_at_140kmh": "dB_at_87mph"})

In [71]:
cars = pd.read_csv("Sport Car.csv")
cars = cars.rename(columns={"Car Model": "model"})
cars

,Unnamed: 0,Car Make,model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,0,Porsche,911,2022,3.0,379,331,4.0,101200.0
1,1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390.0
2,2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750.0
3,3,Audi,R8,2022,5.2,562,406,3.2,142700.0
4,4,McLaren,720S,2021,4.0,710,568,2.7,298000.0
...,...,...,...,...,...,...,...,...,...
953,1000,Aston Martin,Vantage,2021,4.0,503,505,3.6,146000.0
954,1001,Bugatti,Chiron,2021,8.0,1479,1180,2.4,3000000.0
955,1002,Koenigsegg,Jesko,2022,5.0,1280,1106,2.5,3000000.0
956,1004,McLaren,Senna,2021,4.0,789,590,2.7,1000000.0
957,1005,Pagani,Huayra,2021,6.0,764,738,3.0,2600000.0

In [104]:
carsx2 = pd.merge(cars, car_noise_mph, on="model", how="left")
carsx2 = carsx2.rename(columns = {"model": "Car Model", "dB_at_idle": "dB_at_Idle"})
carsx2 = carsx2[["Car Make", "Car Model", "Year", "Engine Size (L)", "0-60 MPH Time (seconds)", "Price (in USD)", "dB_at_Idle","db_at_31mph", "dB_at_50mph", "dB_at_62mph", "dB_at_75mph", "dB_at_87mph"]]
carsx2

,Car Make,Car Model,Year,Engine Size (L),0-60 MPH Time (seconds),Price (in USD),dB_at_Idle,db_at_31mph,dB_at_50mph,dB_at_62mph,dB_at_75mph,dB_at_87mph
0,Porsche,911,2022,3.0,4.0,101200.0,63.7,68.2,71.4,71.8,76.9,82.1
1,Porsche,911,2022,3.0,4.0,101200.0,57.4,66.3,72.1,74.4,79.3,84.2
2,Porsche,911,2022,3.0,4.0,101200.0,61.7,67.1,70.6,71.8,75.4,79.1
3,Porsche,911,2022,3.0,4.0,101200.0,49.7,58.9,65.1,67.0,73.9,80.9
4,Porsche,911,2022,3.0,4.0,101200.0,48.6,59.8,68.8,73.7,74.8,76.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Aston Martin,Vantage,2021,4.0,3.6,146000.0,NaN,NaN,NaN,NaN,NaN,NaN
1271,Bugatti,Chiron,2021,8.0,2.4,3000000.0,NaN,NaN,NaN,NaN,NaN,NaN
1272,Koenigsegg,Jesko,2022,5.0,2.5,3000000.0,NaN,NaN,NaN,NaN,NaN,NaN
1273,McLaren,Senna,2021,4.0,2.7,1000000.0,NaN,NaN,NaN,NaN,NaN,NaN
1274,Pagani,Huayra,2021,6.0,3.0,2600000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
carsx2.dtypes

Car Make                    object
Car Model                   object
Year                         int64
Engine Size (L)            float64
0-60 MPH Time (seconds)    float64
Price (in USD)             float64
dB_at_Idle                 float64
db_at_31mph                float64
dB_at_50mph                float64
dB_at_62mph                float64
dB_at_75mph                float64
dB_at_87mph                float64
dtype: object

In [106]:
carsx2_nonulls = carsx2.dropna(how="any")
carsx2 = carsx2_nonulls.reset_index(drop=True)

In [107]:
carsx2 = carsx2_nonulls.sort_values("dB_at_62mph")
carsx2.to_csv("Cars(Noise).csv", index=True)

In [115]:
car_models = carsx2.groupby(["Car Make", "Car Model"]).mean()
car_models = car_models[["Engine Size (L)", "0-60 MPH Time (seconds)", "Price (in USD)", "dB_at_Idle","db_at_31mph", "dB_at_50mph", "dB_at_62mph", "dB_at_75mph", "dB_at_87mph"]]
car_models

                              Engine Size (L)  0-60 MPH Time (seconds)  \
Car Make      Car Model
Acura         NSX                    3.500000                 2.750000
Alfa Romeo    4C                     1.750000                 4.150000
Audi          R8                     5.200000                 3.200000
              RS5                    2.900000                 3.666667
              RS7                    4.000000                 3.500000
              S5                     3.000000                 4.400000
BMW           M2                     3.000000                 4.058333
              M4                     3.000000                 3.994737
              M5                     4.400000                 3.200000
              i8                     1.500000                 4.200000
Bentley       Continental GT         5.250000                 3.529167
Chevrolet     Camaro                 6.200000                 4.000000
              Corvette               6.200000                 2.800000
Dodge         Challenger             5.000000                 5.100000
              Charger                6.200000                 3.300000
              Viper                  8.400000                 3.300000
Ford          GT                     3.500000                 2.914706
              Mustang                2.300000                 5.300000
Jaguar        F-Type                 3.238095                 4.728571
Lotus         Evora                  3.500000                 3.800000
McLaren       570S                   3.800000                 3.056522
              GT                     4.000000                 3.114286
Mercedes-Benz AMG GT                 4.000000                 3.800000
              SL                     3.000000                 4.650000
Nissan        370Z                   3.700000                 5.055556
Polestar      1                      2.000000                 4.100000
Porsche       911                    3.000000                 4.000000
              Cayman                 2.071429                 4.842857
              Panamera               2.900000                 5.287500
Rolls-Royce   Wraith                 6.737500                 4.375000
Tesla         Roadster               0.000000                 1.900000

                              Price (in USD)  dB_at_Idle  db_at_31mph  \
Car Make      Car Model
Acura         NSX              157874.062500   48.900000    63.700000
Alfa Romeo    4C                67150.000000   50.100000    75.200000
Audi          R8               142700.000000   49.800000    62.860000
              RS5               75916.666667   44.800000    55.550000
              RS7              114755.625000   40.900000    56.800000
              S5                52500.000000   42.900000    55.700000
BMW           M2                58908.333333   47.400000    61.800000
              M4                72557.631579   46.400000    63.700000
              M5               103562.500000   44.400000    54.600000
              i8               147500.000000   42.300000    60.200000
Bentley       Continental GT   212113.541667   47.800000    55.200000
Chevrolet     Camaro            32439.000000   51.362500    60.987500
              Corvette          59900.000000   56.255556    63.688889
Dodge         Challenger        45000.000000   48.433333    58.833333
              Charger           72000.000000   46.400000    55.900000
              Viper            119397.500000   59.966667    67.866667
Ford          GT               500000.000000   41.900000    51.500000
              Mustang           27205.000000   50.200000    60.262500
Jaguar        F-Type            74383.333333   45.700000    58.500000
Lotus         Evora             95475.000000   48.900000    60.200000
McLaren       570S             198282.391304   59.800000    70.700000
              GT               211514.047619   41.900000    51.500000
Mercedes-Benz AMG GT           118500.000000   52.800000    63.700000
              SL                96125.000000   42.500000    56.650000
Nissan        370Z              30496.111111   47.075000    60.425000
Polestar      1                155000.000000   44.675000    57.096429
Porsche       911              101200.000000   54.007692    63.292308
              Cayman            62200.000000   50.360000    59.860000
              Panamera          88262.500000   43.762500    55.712500
Rolls-Royce   Wraith           331693.750000   42.000000    50.600000
Tesla         Roadster         200000.000000   44.800000    55.100000

                              dB_at_50mph  dB_at_62mph  dB_at_75mph  \
Car Make      Car Model
Acura         NSX               66.000000    68.300000    70.100000
Alfa Romeo    4C                76.100000    76.900000    81.300000
Audi          R8                67.220000    69.800000    71.740000
              RS5               59.950000    62.650000    65.950000
              RS7               60.000000    63.300000    64.300000
              S5                63.500000    68.000000    70.500000
BMW           M2                65.000000    68.300000    69.600000
              M4                66.750000    69.100000    69.650000
              M5                62.800000    65.700000    68.400000
              i8                62.600000    64.900000    70.600000
Bentley       Continental GT    60.000000    61.900000    65.800000
Chevrolet     Camaro            65.375000    67.562500    70.587500
              Corvette          68.388889    70.466667    75.177778
Dodge         Challenger        65.366667    68.600000    72.066667
              Charger           62.000000    64.700000    68.800000
              Viper             72.933333    75.066667    78.866667
Ford          GT                59.200000    63.800000    64.400000
              Mustang           66.275000    69.387500    72.737500
Jaguar        F-Type            63.000000    65.650000    69.450000
Lotus         Evora             69.300000    73.800000    75.300000
McLaren       570S              72.000000    73.300000    75.000000
              GT                59.200000    63.800000    64.400000
Mercedes-Benz AMG GT            67.500000    69.000000    71.100000
              SL                62.400000    66.300000    67.800000
Nissan        370Z              66.750000    70.025000    73.025000
Polestar      1                 62.342857    65.367857    67.864286
Porsche       911               67.853846    70.115385    74.330769
              Cayman            65.460000    67.620000    72.160000
              Panamera          61.425000    64.112500    66.787500
Rolls-Royce   Wraith            56.200000    58.200000    63.500000
Tesla         Roadster          63.400000    67.600000    68.900000

                              dB_at_87mph
Car Make      Car Model
Acura         NSX               73.700000
Alfa Romeo    4C                83.300000
Audi          R8                75.320000
              RS5               70.000000
              RS7               67.600000
              S5                73.000000
BMW           M2                73.200000
              M4                73.200000
              M5                71.500000
              i8                72.300000
Bentley       Continental GT    69.700000
Chevrolet     Camaro            74.287500
              Corvette          80.022222
Dodge         Challenger        75.533333
              Charger           72.900000
              Viper             82.700000
Ford          GT                65.300000
              Mustang           76.362500
Jaguar        F-Type            74.150000
Lotus         Evora             77.200000
McLaren       570S              78.800000
              GT                65.300000
Mercedes-Benz AMG GT            74.700000
              SL                70.250000
Nissan        370Z              76.425000
Polestar      1                 70.382143
Porsche       911               78.869231
              Cayman            77.380000
              Panamera          69.487500
Rolls-Royce   Wraith            68.800000
Tesla         Roadster          70.600000

In [116]:
car_models.to_csv("Car_Models.csv", index=True)

In [94]:
mongo = MongoClient(port=27017)

In [95]:
db = mongo['Sports_Cars']

In [96]:
collection = db['car_noise']