In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [23]:
# Set the column width
pd.options.display.max_colwidth = 400
SportCar = pd.read_csv("Resources Folder/Sport car price.csv")
SportCar.head(10)

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"
5,BMW,M8,2022,4.4,617,553,3.1,"130,000"
6,Mercedes-Benz,AMG GT,2021,4,523,494,3.8,"118,500"
7,Chevrolet,Corvette,2021,6.2,490,465,2.8,"59,900"
8,Ford,Mustang Shelby GT500,2022,5.2,760,625,3.5,"81,000"
9,Nissan,GT-R Nismo,2021,3.8,600,481,2.5,"212,000"

In [24]:
# Show the objects of the dataset
SportCar.dtypes

Car Make                   object
Car Model                  object
Year                        int64
Engine Size (L)            object
Horsepower                 object
Torque (lb-ft)             object
0-60 MPH Time (seconds)    object
Price (in USD)             object
dtype: object

In [37]:
#Find all engine sizes listed in "Engine Size (L) column"
SportCar["Engine Size (L)"].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 'Electric', '6.5', '3.7', 'Electric Motor',
       '2.5', '1.5 + Electric', '6.8', '8.4', nan, '6.6', '7', '1.7',
       '3.3', '-', '6.7', '1.8', 'Electric (tri-motor)', '5.5',
       'Electric (93 kWh)', 'Electric (100 kWh)', 'Hybrid (4.0)', '4.6',
       '3.6', '1.5', 'Hybrid', '5.7', '2.0 (Electric)', '4.0 (Hybrid)',
       '0', '6.4', '6.3', '2.3'], dtype=object)

In [36]:
SportCar["Engine Size (L)"].replace('Electric', '')

0                    3
1                  5.2
2                  3.9
3                  5.2
4                    4
             ...
1002                 5
1003    Electric Motor
1004                 4
1005                 6
1006    Electric Motor
Name: Engine Size (L), Length: 1007, dtype: object

In [38]:
#Amount of electric 
len(SportCar.loc[SportCar["Engine Size (L)"]=="Electric"])

36

In [45]:
#Find all occurances of electric and hybrid vehicles
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "Electric"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "Electric Motor"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "1.5 + Electric"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= None]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "Electric (tri-motor)"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "Electric (93 kWh)"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "Electric (100 kWh)"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "Hybrid (4.0)"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "Hybrid"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "2.0 (Electric)"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "4.0 (Hybrid)"]
SportCar = SportCar.loc[SportCar["Engine Size (L)"]!= "-"]


len(SportCar)

958

In [53]:
#Replace Commas in the "Price (in USD) column"
SportCar["Price (in USD)"]=SportCar["Price (in USD)"].replace(',','').astype(float)
SportCar.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,101200.0
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390.0
2,Ferrari,488 GTB,2022,3.9,661,561,3,333750.0
3,Audi,R8,2022,5.2,562,406,3.2,142700.0
4,McLaren,720S,2021,4,710,568,2.7,298000.0

In [54]:
#Change data type
SportCar.astype({"Engine Size (L)": "float", "0-60 MPH Time (seconds)": "float", 
                 "Price (in USD)": "float"})

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3.0,379,331,4.0,101200.0
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390.0
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750.0
3,Audi,R8,2022,5.2,562,406,3.2,142700.0
4,McLaren,720S,2021,4.0,710,568,2.7,298000.0
...,...,...,...,...,...,...,...,...
1000,Aston Martin,Vantage,2021,4.0,503,505,3.6,146000.0
1001,Bugatti,Chiron,2021,8.0,1479,1180,2.4,3000000.0
1002,Koenigsegg,Jesko,2022,5.0,1280,1106,2.5,3000000.0
1004,McLaren,Senna,2021,4.0,789,590,2.7,1000000.0
1005,Pagani,Huayra,2021,6.0,764,738,3.0,2600000.0

In [58]:
SportCar2=SportCar.dropna()
SportCar2.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,101200.0
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390.0
2,Ferrari,488 GTB,2022,3.9,661,561,3,333750.0
3,Audi,R8,2022,5.2,562,406,3.2,142700.0
4,McLaren,720S,2021,4,710,568,2.7,298000.0

In [62]:
# Sort data by Price from "Price (in USD)"
SportCar2_sorted = SportCar2.sort_values(by = ("Price (in USD)"))
SportCar2_sorted

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
886,Chevrolet,Camaro,2022,6.2,455,455,4,25000.0
924,Chevrolet,Camaro,2021,6.2,455,455,4,25000.0
597,Chevrolet,Camaro,2021,6.2,455,455,4,25000.0
997,Chevrolet,Camaro,2021,6.2,455,455,4,25000.0
92,Mazda,MX-5 Miata,2021,2,181,151,6.5,26830.0
...,...,...,...,...,...,...,...,...
624,Bugatti,Chiron Pur Sport,2021,8,1500,1180,2.3,3599000.0
438,Lamborghini,Sián,2021,6.5,819,531,2.8,3600000.0
983,Bugatti,Chiron,2022,8,1500,1180,2.5,3900000.0
541,Bugatti,Chiron Super Sport 300+,2022,8,1578,1180,2.3,5200000.0
823,Bugatti,Chiron Super Sport 300+,2021,8,1578,1180,2.4,5200000.0

In [95]:
#SportCar_Make = SportCar2_sorted.groupby('Car Make')['0-60 MPH Time (seconds)'].mean().reset_index()
SportCar3=SportCar.copy()
SportCar3["0-60 MPH Time (seconds)"] = SportCar3["0-60 MPH Time (seconds)"].astype(float)

SportCar3

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4.0,101200.0
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390.0
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750.0
3,Audi,R8,2022,5.2,562,406,3.2,142700.0
4,McLaren,720S,2021,4,710,568,2.7,298000.0
...,...,...,...,...,...,...,...,...
1000,Aston Martin,Vantage,2021,4,503,505,3.6,146000.0
1001,Bugatti,Chiron,2021,8,1479,1180,2.4,3000000.0
1002,Koenigsegg,Jesko,2022,5,1280,1106,2.5,3000000.0
1004,McLaren,Senna,2021,4,789,590,2.7,1000000.0
1005,Pagani,Huayra,2021,6,764,738,3.0,2600000.0

In [97]:
#Type of data per column
SportCar3.dtypes

Car Make                    object
Car Model                   object
Year                         int64
Engine Size (L)             object
Horsepower                  object
Torque (lb-ft)              object
0-60 MPH Time (seconds)    float64
Price (in USD)             float64
dtype: object